{% extends 'produtos/partials/base.html' %}
{% load static %}
{% block title %}
    Empregos
{% endblock %}

{% block content %}

                <section class="job-form-section job-form-section--image">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    <div class="job-form-box">
                                        <h2 class="heading">Encontre seu <span class="accent">trabalho</span>.
                                        </h2>
                                        <form id="job-main-form" method="get" action="" class="job-main-form">
                                            <div class="controls">
                                                <div class="row align-items-center">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label for="profession">Cargo</label>
                                                            <input type="text" id="profession" name="position"
                                                                placeholder="Busque sua oportunidade" class="form-control">
                                                        </div>
                                                    </div>            
                                                    <div class="col-md-2">
                                                        <button type="submit" class="btn btn-outline-white-primary job-main-form__button">
                                                            <i class="fa fa-search" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

    <section>
          <h3 class="heading">Oportunidades de Emprego.  Foram encontradas: {{total}} oportunidade(s)</h3>
            <div class="row featured align-items-stretch">
                {% for job in jobs %}
                    <div class="col-lg-2 mb-5 mb-lg-5">
                        <div class="box-image-text">
                            <div class="top">
                                    <div class="image">
                                        <img src="{% static 'img/featured1.jpg' %}" alt="" class="img-fluid">
                                    </div>
                                    <div class="bg"></div>
                                    <div class="logo">
                                        <img src="{% static 'img/company-1.png' %}" alt="" style="max-width: 80px;">
                                    </div>
                            </div>
                            <div class="content ">
                                {% if request.user.is_authenticated %}
                                <h5><a href="{% url 'produtos:listdetails' job.pk %}">{{ job.title }}</a></h5>
                                 {% else %}
                                  <h5>{{ job.title }}</h5>
                                  {% endif %}
                                <p class="featured__details">
                                    {{ job.job_option }}
                                    {% if job.job_option == '1' %}
                                        <span class="badge featured-badge badge-success">CLT</span>
                                    {% elif job.job_option == '2' %}
                                        <span class="badge featured-badge badge-primary">Consultoria</span>
                                    {% else %}
                                        <span style="color: #ffffff;" class="badge featured-badge badge-warning">Interesse</span>
                                    {% endif %}
                                    <p>{{ job.description | truncatewords_html:30 | safe }}</p>
                                     {% if user.is_authenticated %}
                                        <div class="col-sm-12 col-md-2 col-lg-1">
                                            <div class="job__star">
                                                {% if is_already_favorited %}
                                                    <a href="javascript:void(0)" data-toggle="tooltip" data-id="{{ job.id }}"
                                                    data-placement="top" title="Saved to favourites"
                                                    class="job__star__link favorite">
                                                        <i class="fa fa-star"></i>
                                                    </a>
                                                {% else %}
                                                    <a href="javascript:void(0)" data-toggle="tooltip" data-id="{{ job.id }}"
                                                    data-placement="top" title="Save to favourites" class="job__star__link">
                                                        <i class="fa fa-star"></i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </p>
                                {% for tag in job.tags.all %}
                                    <span style="color: #ffffff;"
                                          class="badge featured-badge badge-secondary">{{ tag.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

{% endblock %}
