{% extends 'produtos/partials/base.html' %}
{% load static %}
{% block title %}
    Detalhes da Oportunidade
{% endblock %}

{% block content %}

    <section class="bg-light-gray">
        <div class="container">
            <h1 class="heading">{{ job.title }}<br>
                <small>at <a href="#"> {{ job.company_name }}</a></small>
            </h1>
            <div class="job-detail-description"><i class="fa fa-map-marker job__location"> </i>
                {{ job.location }} | Criado em {{ job.created_at|timesince }} ({{ job.created_at }}) |
                {% if job.job_option == '1' %}
                    <span class="badge featured-badge badge-success">CLT</span>
                {% elif job.job_option == '2' %}
                    <span class="badge featured-badge badge-primary">Consultoria</span>
                {% else %}
                    <span style="color: #ffffff;" class="badge featured-badge badge-warning">Interesse</span>
                {% endif %}
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Categoria: {{ job.category }}</h3>
                    <h5>Criação da Oportunidade: {{ job.last_date|date }}</h5>
                    <h5 style="color: blueviolet;">Números de Vagas: {{ job.vacancy }}</h5>
                    <h5 class="text-info">
                        Salário: {% if job.salary > 0 %} {{ job.salary }}/Monthly {% else %}
                        Negociável {% endif %}
                    </h5>
                    Tags:
                    {% for tag in job.specialtydefendant.all %}
                        <span style="color: #ffffff;" class="badge featured-badge badge-secondary">{{ tag.identificacao }}</span>
                    {% endfor %}
                    <blockquote class="blockquote">
                        <p>{{ job.description | safe }}</p>
                    </blockquote>
                    <div class="job-detail__apply-bottom">
                                <input type="button" class="btn btn-outline-white-primary" value="Already applied"/>
                                <form action="#" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="job" value="{{ job.id }}">
                                    <input type="submit" class="btn btn-outline-white-primary"
                                           value="Apply for this job"/>
                                </form>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <h4>About {{ job.company_name }}</h4>
                    <p class="job-detail__company-description">{{ job.company_description | safe }}</p>
                    <p class="job-detail__social social social--outline">
                        <a href="{{ job.website }}" data-toggle="tooltip" data-placement="top" title="Website"
                           class="link">
                            <i class="fa fa-link"></i>
                        </a>
                    </p>
                    
                </div>
            </div>
        </div>
    </section>

{% endblock %}
